* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #316499;
    --main-color: #828282;
    --title-color-: #000000;
}

.container {
    width: 1720px;
    margin: 0 auto;
}

/* header start */
.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    /* position: sticky; */
    top: 0;
    /* left: 0; */
    padding-top: 49px;
    padding-bottom: 47px;
    background-color: #fff;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_text {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color-);
    line-height: 35px;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_list_item {
    list-style: none;
    padding-right: 40px;
}

.nav_list_item_link {
    font-weight: 400;
    color: var(--title-color-);
    text-decoration: none;
}

.nav_list_item_link:hover {
    font-weight: 700;
    color: var(--primary-color);
}

.header_button {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 15.5px 18px 15px 28px;
    gap: 10px;
    background-color: var(--primary-color);
    text-decoration: none;
}

.header_button:hover {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #156ED7;
    background: #FFFFFF;
    border: 5px solid var(--primary-color);
    padding: 11.5px 13px 9px 23px;
}

.header_button:active {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 11.5px 14px 11px 24px;
    gap: 10px;
    background-color: var(--primary-color);
    text-decoration: none;
}

/* header end */

/* main start */

/* hero section start */
.hero_section {
    background-color: rgba(49, 100, 153, 0.1);
    padding-top: 94px;
    padding-bottom: 76px;
    margin-top: 164px;
    margin-bottom: 132px;
}

.hero_section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_left_title {
    font-weight: 600;
    font-size: 80px;
    line-height: 120px;
    margin-bottom: 30px;
    color: var(--title-color-);
}

.hero_left_text {
    color: var(--main-color);
    margin-bottom: 70px;
    width: 589px;
}

.hero_left_button {
    padding: 16px 23px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: var(--primary-color);
    text-decoration: none;
}

.hero_left_button:hover {
    padding: 13px 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #156ED7;
    background: none;
    border: 3px solid #156ED7;
}

.hero_left_button:active {
    padding: 16px 23px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: var(--primary-color);
    text-decoration: none;
}

/* hero section end */

/* services section start */

.services {
    margin-bottom: 218px;
}

.services_title {
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 87px;
}

.services_list {
    display: flex;
    justify-content: space-between;
}

.services_list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    padding: 53px 48px 47px 48px;
}

.services_list_item:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #EBEBEB;
    border: 3px solid #CACACA;
    padding: 52px 46px 45px 46px;

}

.services_list_item:not(:last-child) {
    margin-right: 36px;
}

.image_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 3px solid #316499;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 40px;
}

.services_list_item_title {
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    color: var(--title-color-);
    margin-bottom: 15px;
}

.services_list_item_text {
    color: var(--main-color);
    text-align: center;
    margin-bottom: 15px;
}

.services_list_item_link {
    text-decoration-line: underline;
    color: var(--primary-color);
    -moz-text-decoration-line: underline;
}

/* services section end*/

/* properties section start */

.properties .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.properties_title {
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 87px;
}

.properties_list {
    display: flex;
    justify-content: space-between;
}

.properties_list_item {
    background: #FFFFFF;
    padding: 20px 25px 27px 25px;
    list-style-type: none;
    margin-bottom: 60px;
    border: 1px solid #BDBDBD;
}

.properties_list_item:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #EBEBEB;
    border: 3px solid #CACACA;
    padding: 20px 24px 25px 24px;
}

.properties_list_item:not(:last-child) {
    margin-right: 35px;
}

.properties_list_item_image {
    margin-bottom: 40px;
}

.properties_list_item_location {
    display: flex;
    align-items: center;
    color: var(--title-color-);
    margin-bottom: 86px;
}

.properties_list_item_location img {
    margin-right: 15px;
}

.properties_list_item_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: underline;
    color: var(--primary-color);
    -moz-text-decoration-line: underline;
}

.properties_link {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 18px 100px 17px;
    text-decoration: none;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    margin-bottom: 218px;
}

.properties_link:hover {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: var(--primary-color);
    padding: 18px 100px 17px;
    text-decoration: none;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}

.properties_link:active {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: #FFFFFF;
    padding: 18px 100px 17px;
    text-decoration: none;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    margin-bottom: 218px;
}

/* properties section end */

/* blog section start */

.blog_title {
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 87px;
}

.blog_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.blog_list_item {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    margin-bottom: 218px;
}

.blog_list_item:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #EBEBEB;
    border: 3px solid #CACACA;
}

.blog_list_item_wrapper {
    display: flex;
    flex-direction: column;
    padding: 59px 60px 65px;
}

.blog_list_item_wrapper:hover {
    padding: 58px 59px 64px;

}

.blog_list_item_title {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: var(--title-color-);
    margin-bottom: 27px;
}

.blog_list_item_data {
    color: var(--main-color);
    margin-bottom: 27px;
}

.blog_list_item_text {
    width: 580px;
    color: var(--main-color);
    margin-bottom: 27px;
}

.blog_list_item_link {
    font-size: 40px;
    line-height: 60px;
    text-decoration-line: underline;
    color: var(--primary-color);
}

/* blog section end */

/* clients section start */

.clients_title {
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 88px;
}

.clients_list {
    display: flex;
    justify-content: space-between;
}

.clients_list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9FAFC;
    padding: 57px 54px 29px;
    margin-bottom: 110px;
}

.clients_list_item:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #EBEBEB;
    border: 3px solid #CACACA;
    padding: 54px 51px 26px;
}

.clients_list_item:not(:last-child) {
    margin-right: 34px;
}

.clients_list_item_image {
    margin-bottom: 40px;
}

.clients_list_item_title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: var(--title-color-);
    margin-bottom: 7px;
}

.clients_list_item_word {
    color: var(--main-color);
    opacity: 0.7;
    margin-bottom: 7px;
}

.clients_list_item_stars {
    display: flex;
    margin-bottom: 41px;
}

.clients_list_item_stars img:not(:last-child) {
    margin-right: 3px;
}

.clients_list_item_text {
    width: 442px;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: var(--main-color);
    opacity: 0.7;
}

/* testimonials section end */

/* main end */

/* footer start */
.footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 131px 23px 132px 87px;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_title {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    padding-right: 100px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer_list_wrapper {
    display: flex;
}

.footer_list_item_wrapper {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
}

.footer_list_item {
    font-weight: 400;
    list-style-type: none;
    width: 330px;
    padding-bottom: 15px;
    margin-right: 150px;
}

.footer_list_item img {
    margin-right: 20px;
}

.footer_list_title {
    line-height: 60px;
    padding-bottom: 37px;
    text-transform: uppercase;
    font-size: 40px;
    list-style-type: none;
    color: #FFFFFF;
}

.footer_list_item_link {
    font-weight: 400;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}

/* footer end */